@charset "UTF-8";
/* 웹 폰트 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&display=swap');

@font-face {
  font-family: 'IBM Plex Sans KR', sans-serif;
  src: url();
}

.Box {
	margin-top:50px;
}

.oneviewTable {
	border-collapse: collapse;
	width: 1000px;
	margin: 1rem auto;
	background-color: white;
}
.oneviewTable td {
	padding: 8px;
	border-bottom: 1px solid #ddd;
}
.oneviewTitle{
	font-weight: bold;
}
.oneviewWhen, .replyWhen, .oneviewCount, .oneviewReplyCount, #replyDeleteBtn, #replyUpdateBtn {
	color: grey;
}
.replyInsertTable {
	padding: 16px;
	background-color: rgb(227,227,227);
	color: white;
}

.replyInsertTable input {
	font-family: 'IBM Plex Sans KR';
	border:1px solid gray;
	border-radius:5px;
}

.replyInsertTable textarea {
	font-family: 'IBM Plex Sans KR';
	border:1px solid gray;
	border-radius:5px;
	resize:none;
	width:400px;
}

#boardUpdateBtn {
	margin-right:-150px;
}

#replyDeleteBtn {
	background:none;
	color:black;
	border:none;
	border-radius:10px;
	padding:5px;
    transition: 0.3s;
    font-family: 'IBM Plex Sans KR';
    font-size: 15px;
}

#boardUpdateBtn, #boardDeleteBtn, #replyUpdateBtn{
	color: white;
	background-color: rgb(168, 43, 43);
	border:none;
	border-radius:10px;
	padding:5px;
    transition: 0.3s;
    font-family: 'IBM Plex Sans KR';
    font-size: 15px;
}
#boardUpdateBtn:hover, #boardDeleteBtn:hover, #replyUpdateBtn:hover{
	color: white;
	background-color: darkred;
    transition: 0.3s;
}
.replyId{
	font-weight: bold;
}

pre {
	font-family: 'IBM Plex Sans KR';
}

#com input {
	border:1px solid gray;
	border-radius:5px;
	padding: 3px;
}
